.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: inset;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color:teal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
p{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}